@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Thiccboi;
    font-weight: 100;
    src: url(./assets/fonts/THICCCBOI-Thin.woff2) format("woff");
  }
  @font-face {
    font-family: Thiccboi;
    font-weight: 200;
    src: url(./assets/fonts/THICCCBOI-Light.woff2) format("woff");
  }
  @font-face {
    font-family: Thiccboi;
    font-weight: 300;
    src: url(./assets/fonts/THICCCBOI-Regular.woff2) format("woff");
  }
  @font-face {
    font-family: Thiccboi;
    font-weight: 400;
    src: url(./assets/fonts/THICCCBOI-Medium.woff2) format("woff");
  }
  @font-face {
    font-family: Thiccboi;
    font-weight: 500;
    src: url(./assets/fonts/THICCCBOI-SemiBold.woff2) format("woff");
  }
  @font-face {
    font-family: Thiccboi;
    font-weight: 600;
    src: url(./assets/fonts/THICCCBOI-Bold.woff2) format("woff");
  }
  @font-face {
    font-family: Thiccboi;
    font-weight: 700;
    src: url(./assets/fonts/THICCCBOI-ExtraBold.woff2) format("woff");
  }
  @font-face {
    font-family: Thiccboi;
    font-weight: 800;
    src: url(./assets/fonts/THICCCBOI-Black.woff2) format("woff");
  }
  @font-face {
    font-family: Thiccboi;
    font-weight: 900;
    src: url(./assets/fonts/THICCCBOI-ThicccAF.woff2) format("woff");
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}